{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
<style>
    .header{
        position:sticky;
        top:0;
        z-index:1;
    }

    .tableFixHead { overflow: auto; height: 90vh; }

    #table-head {
        background-color:#FFFFFF; 
    }

    table  { border-collapse: collapse; width: 100%; }
</style>
<title>Hotels - SERD</title>
<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
</head>

<body>
    Space Eye - Notunterkunftsvermittlung - Hotels
<div class="tableFixHead">
    <table class="table">
    <thead class="header" id="table-head">
        <th>ID</th>
        <th>Name</th>
        <th>Adresse</th>
        <th>Status</th>
        <th>Ansprechpartner Hotel</th>
        <th>Telefon</th>
        <th>E-Mail</th>
        <th>Zuständig Meldung</th>
        <th>Team Gesamt</th>
        <th>Verpflegung</th>
        <th>Kosten</th>
        <th>Belegung Aktuell</th>
        <th>Betten</th>
        <th>Betten frei</th>
        <th>Info</th>
        <th></th>
    </thead>
    <tbody>
    {% for hotel in dataset %}
        {%if hotel.state == "active"%}    
            <tr style="background-color:white">
        {%elif hotel.state == "open" %}
            <tr style="background-color:yellow">
        {%elif hotel.state == "full" %}
            <tr style="background-color:red">
        {%elif hotel.state == "passive" %}
                <tr style="background-color:darksalmon">
        {%endif%}

           <td> {{hotel.number}}</td>
           <td> {{hotel.name}}</td>
           <td> {{hotel.address}}</td>
            <td> {{hotel.get_state_display}}</td>
            <td>
                {%for partner in hotel.ansprechpartner.all %}
                    {{partner.name}}<br>
                {% endfor %}
            </td>
            <td>
                {%for partner in hotel.ansprechpartner.all %}
                    {{partner.tel}}<br>
                {% endfor %}
            </td>
            <td>
                {%for partner in hotel.ansprechpartner.all %}
                    {{partner.mail}}<br>
                {% endfor %}
            </td>
            <td>
                {%if hotel.responsible %}
                <a href="{% url 'profile_view' hotel.responsible.id %}" style="color: black; text-decoration: underline;">
                    {{hotel.responsible}}
                </a>
                {%endif%}
            </td>
            <td>
                {% for member in hotel.team_gesamt.all %}
                    <a href="{% url 'profile_view' member.id %}" style="color: black; text-decoration: underline;">
                        {{ member }}
                    </a>
                {% endfor %}
            </td>
            <td>
                {{ hotel.get_food_display }}
            </td>
            <td>
                {{ hotel.cost }}
            </td>
            <td>
                {% for request in hotel.requests.all %}
                <a href="/requests/edit/{{request.number}}" style="color:black; text-decoration:underline">
                {{request}}
            </a>&emsp;
                {% endfor %}
            </td>
            <td>
                {{ hotel.beds }}
            </td>

            <td>
                {{hotel.beds_free }}
            </td>
            <td>
                {{ hotel.info|linebreaks }}
            </td>
           </tr>
        {% endfor %}
        </tbody>
    
    
    </tbody>
    </table>
</div>

<div class="d-flex flex-row">
    <div class="m-3">
        {% url 'request_filter' as request_filter_url %}
        {% bootstrap_button "Filter" button_type="link" href=request_filter_url button_class="btn-primary" %}
    </div>
    <div class="m-3">
        {% url 'logout' as logout_url%}
        {% bootstrap_button "Log out" button_type="link" href=logout_url button_class="btn-danger" %}
    </div>
    <div class="m-3">
        {% url 'index' as index_url%}
        {% bootstrap_button "Startseite" button_type="link" href=index_url button_class="btn-secondary" %}
    </div>
</div>
</body>
</html>