<header>
    <title>SERD</title>
</header>
<body>
    <table>
        <tr>
            <td><a href="{% url 'add_request' %}">Wohnungsgesuch eintragen</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'add_offer' %}">Wohnungsangebot eintragen</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'requests' %}">Wohnungsgesuche ansehen</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'offers' %}">Wohnungsangebote ansehen</a></td>
        </tr>
    </table>

</body>