<!DOCTYPE html>
<head>
      {% load static %}
    <script src="{% static 'popup.js' %}"></script> 
<title>Abrechnung - SERD</title>
<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
</head>
<body>
{% load i18n %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<style>
.errorlist
    {
        color: red;
        font-size: large;
    }

</style>

<form method="POST" enctype="multipart/form-data">

  
    <!-- Security token -->
    {% csrf_token %}
  
    <!-- Using the formset -->
    {% for field in form %}
    <div class="fieldWrapper form-group row m-1">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}" class="col-lg-4 col-form-label" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ field.help_text|safe }}">
            {{ field.label}}
            {% if field.field.required %}
                *
            {% endif %}
        </label>
        <div class="col-lg-4 my-auto" data-bs-toggle="tooltip" data-bs-placement="left" title="{{ field.help_text|safe }}">
            {{ field }}
        </div>
    </div>
    {% endfor %}
      
    <input class="btn-primary m-3" type="submit" value="{%trans 'Absenden' %}" >
</form>
<div class="d-flex flex-row">
    <div class="m-3">
        {% url 'offer_filter' as offer_filter_url %}
        {% bootstrap_button "Filter" button_type="link" href=offer_filter_url button_class="btn-primary" %}
    </div>
    <div class="m-3">
        {% url 'logout' as logout_url%}
        {% bootstrap_button "Log out" button_type="link" href=logout_url button_class="btn-danger" %}
    </div>
    <div class="m-3">
        {% url 'index' as index_url%}
        {% bootstrap_button "Startseite" button_type="link" href=index_url button_class="btn-secondary" %}
    </div>
  </div>
</body>

