{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
<style>
    .header{
        position:sticky;
        top:0;
        z-index:1;
    }

    .tableFixHead { overflow: auto; height: 90vh; }

    #table-head {
        background-color:#FFFFFF; 
    }

    table  { border-collapse: collapse; width: 100%; }
</style>
</head>

<body>
  <div class="tableFixHead">
    <table class="table">
    <thead class="header" id="table-head">
        <th>ID</th>
        <th>Name</th>
        <th>PLZ</th>
        <th>Ort</th>
        <th>Gesamtanzahl der Personen</th>
        <th>davon Kinder unter zwölf</th>
        <th>Straße</th>
        <th>Tel</th>
        <th>mail</th>
        <th>Sprachen</th>
        <th>Kosten</th>
        <th>spontan</th>
        <th>verfügbar ab</th>
        <th>begrenzt verfügbar</th>
        <th>verfügbar bis</th>
        <th>Barrierefrei</th>
        <th>ÖPNV</th>
        <th>Zimmer</th>
        <th>Eigene Wohnung</th>
        <th>Wohnsituation</th>
        <th>Haustiere</th>
        <th>Status</th>
        <th>Vermittelt</th>
        <th>Kommentar</th>
        <th>Interner Kommentar</th>
      </thead>
      <tbody>
      {% for data in dataset %} {%if data.state == "new"%}
      <tr style="background-color: white">
        {%elif data.state == "contacted" %}
      </tr>

      <tr style="background-color: yellow">
        {%elif data.state == "request_contact" %}
      </tr>

      <tr style="background-color: lightblue">
        {%elif data.state == "stale" %}
      </tr>

      <tr style="background-color: grey">
        {%elif data.state == "arrived" %}
      </tr>

      <tr style="background-color: green">
        {%elif data.state == "free" %}
      </tr>

      <tr style="background-color: orange">
        {%elif data.state == "reserved" %}
      </tr>

      <tr style="background-color: red">
        {%endif%}
        <td>{{data.id}}</td>
        <td>{{ data.given_name}}, {{data.last_name}}</td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.plz}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.city}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}"
            >{{data.total_number}}</span
          >
          <td>
            <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}"
              >{{data.children_number}}</span
            >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.street}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.phone}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.mail}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.language}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.cost}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.spontan|yesno:'Ja,Nein'}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.available_from}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.limited_availability}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.available_until}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.accessability|yesno:'Ja,Nein'}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.public_transport|yesno:'Ja,Nein'}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.rooms}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.seperate_appartment|yesno:'Ja,Nein'}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.living_with}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.pets}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.get_state_display}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            >{% for req in data.housingrequest_set.all %} {{ req }} {% endfor%}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}">
            {{data.comment}}</span
          >
        </td>
        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}">
            {{data.private_comment}}</span
          >
        </td>

        <td>
          <span title="{{data.id }} {{ data.given_name}}, {{data.last_name}}"
            ><a href="/offers/edit/{{data.id}}">edit </a></span
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="d-flex flex-row">
    <div class="m-3">
        {% url 'offer_filter' as offer_filter_url %}
        {% bootstrap_button "Filter" button_type="link" href=offer_filter_url button_class="btn-primary" %}
    </div>
    <div class="m-3">
        {% url 'logout' as logout_url%}
        {% bootstrap_button "Log out" button_type="link" href=logout_url button_class="btn-danger" %}
    </div>
    <div class="m-3">
        {% url 'index' as index_url%}
        {% bootstrap_button "Startseite" button_type="link" href=index_url button_class="btn-secondary" %}
    </div>
  </div
</body>
