  {% load i18n %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<table>
    <tr>
        <td>
            <form action="/i18n/setlang/" method="post" id="form_en" >
                {% csrf_token %}
                
                <input name="language" type="hidden" value="en" />
            </form>
            <button class="btn btn-sm btn-outline-primary" type="submit" form="form_en" value="Submit"><img width="48", alt="english" src="/media/english.png" /></button>
        </td>
        <td>
            <form action="/i18n/setlang/" method="post" id="form_de" >
                {% csrf_token %}
                <input name="language" type="hidden" value="de" />
            </form>
            <button class="btn btn-sm btn-outline-primary" type="submit" form="form_de" value="Submit"><img width="48", alt="german" src="/media/german.png" /></button>
        </td>
        <td>
            <form action="/i18n/setlang/" method="post" id="form_uk" >
                {% csrf_token %}
                <input name="language" type="hidden" value="uk" />
            </form>
            <button class="btn btn-sm btn-outline-primary" type="submit" form="form_uk" value="Submit"><img width="48", alt="ukrainian" src="/media/ukrainian.png" /></button>
        <td>
            <form action="/i18n/setlang/" method="post" id="form_ru" >
                {% csrf_token %}
                <input name="language" type="hidden" value="ru" />
            </form>
            <button class="btn btn-sm btn-outline-primary" type="submit" form="form_ru" value="Submit"><img width="48", alt="russian" src="/media/russian.png" /></button>
        </td>
    </tr>
</table>
<form method="POST" enctype="multipart/form-data">

  
    <!-- Security token -->
    {% csrf_token %}
  
    <!-- Using the formset -->
    {% for field in form %}
    <div class="fieldWrapper form-group row m-1">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">
            {{ field.label}}
        </label>
        <div class="col-sm-10 my-auto">
            {{ field }}
        </div>
        
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
      
    <input class="btn-primary m-3" type="submit" value="{%trans 'Absenden' %}" >
</form>