{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
<style>
    .header{
        position:sticky;
        top:0;
        z-index:1;
    }

    .tableFixHead { overflow: auto; height: 90vh; }

    #table-head {
        background-color:#FFFFFF; 
    }

    table  { border-collapse: collapse; width: 90%; }



    .comment-col {
      width: 35em;
      min-width: 35em;
    }
</style>
<title>Paten - SERD</title>
<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">

</head>

<body>
  Space Eye - Paten 
  &nbsp;{{dataset |length}} Ergebnisse
  <div class="tableFixHead">
    <table class="table">
    <thead class="header" id="table-head">
        <th >ID</th>
        <th >Name</th>
        <th>Ort</th>
        <th> Stadtteil</th>
        <th>Sprachen</th>
        <th class="comment-col">Kommentar</th>
        <th>Tel</th>
        <th>mail</th>
        <th>Status</th>

      </thead>
      <tbody>
      {% for data in dataset %}
      {%if data.state == "new"%}
      <tr  style="background-color: white">
      {%elif data.state == "contacted" %}
         <tr style="background-color: yellow">
        {%elif data.state == "placed" %}
      

        <tr style="background-color: green"> 
          {%endif%}

        <td class="sticky-col first-col" style="background-color: white">{{data.number}}</td>
        <td class="sticky-col second-col" style="background-color: white">{{ data.given_name}} {{data.last_name}}</td>
     
     
        <td>
            >{{data.city}}
        </td>
        <td>
          <td>
              {{data.district}}
          </td>
        <td>
         
            {{data.language}}
            {% if data.additional_languages %}
              <br> {{data.additional_languages}}
            {% endif %}

        </td>
        <td class="comment-col">
          <span title="{{data.number }} {{ data.given_name}}, {{data.last_name}}">
            {{data.comment}}</span
          >
        </td>
       
        
        <td>
          <span title="{{data.number }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.phone}}</span
          >
        </td>
        <td>
          <span title="{{data.number }} {{ data.given_name}}, {{data.last_name}}"
            >{{data.mail}}</span
          >
        </td>
        <td>
        <span title="{{data.number }} {{ data.given_name}}, {{data.last_name}}"
        >{{data.get_state_display}}</span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="d-flex flex-row">
    <div class="m-3">
        {% url 'logout' as logout_url%}
        {% bootstrap_button "Log out" button_type="link" href=logout_url button_class="btn-danger" %}
    </div>
    <div class="m-3">
        {% url 'index' as index_url%}
        {% bootstrap_button "Startseite" button_type="link" href=index_url button_class="btn-secondary" %}
    </div>
  </div>
</body>
