<head>
    <style>
    div {
        color: white;
        display: flex;
        padding: 2%;
        height: 80%;
        overflow-y: scroll;
        overflow-x: scroll;
     }
     td,th,p {
        text-align:  center;
        font-size: 1.25em;
     }
     table {
        padding: 3%;
        border-collapse: collapse;
        border: 2px ridge green;
     }
     th {
        top: 0;
        position: sticky;
        color: black;
        background-color: white;
     }
    </style>
</head>
<body>

<div class="main">
 
    <table border = "1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>Tel</th>
        <th>email</th>
        <th>Erwachsene</th>
        <th>Kinder</th>
        <th>Gesamt</th>
        <th>Wer</th>
        <th>Stellvertreter</th>
        <th>Stv. Tel</th>
        <th>Stv. Mail</th>
        <th>Teilbar</th>
        <th>Aktuelle Unterbringung</th>
        <th> Ankunft Datum</th>
        <th>Ankunft Ort</th>
        <th>Haustiere</th>
        <th>Sprachen</th>
        <th>Barrierfrei</th>
        <th>Vermittelt</th>
        <th>Priorität</th>
        <th>Sachbearbeiter:in</th>
        <th>Status</th>
        <th>Interner Kommentar</th>
    </tr>
    {% for data in dataset %}.
        {%if data.state == "new"%}    
            <tr style="background-color:white">
        {%elif data.state == "contacted" %}
            <tr style="background-color:yellow">
        {%elif data.state == "housing_contact" %}
            <tr style="background-color:lightblue">
        {%elif data.state == "stale" %}
            <tr style="background-color:grey">
        {%elif data.state == "arrived" %}
            <tr style="background-color:green">
        {%endif%}



           <td> {{data.id}}</td>
           <td> {{ data.given_name}}, {{data.last_name}}
               {%if data.name_slug %}
               <br> {{data.name_slug}}
               {%endif%}
           </td>
         
            <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}"> {{data.phone}}</span></td>
            
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.mail}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.adults}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.children}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.children|add:data.adults }}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.who}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.representative}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.repr_phone}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.repr_mail}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.split |yesno:'Ja,Nein'}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}"> {{data.get_current_housing_display}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.arrival_date}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.arrival_location}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.pet_number}} {{data.pets}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.languages}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.accessability_needs |yesno:'Ja,Nein'}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}"> {{data.placed_at}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.priority}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.case_handler}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.get_state_display}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}">{{data.private_comment}}</span></td>
           <td>  <span title="{{data.id}}  {{data.given_name}} {{data.last_name}}"><a href="/requests/edit/{{data.id}}">edit </a></span></td>
           </tr>
        {% endfor %}
    </table>
</div>
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href=" {% url 'index'%}"> Startseite</a></p>
</body>