<div class="main">
 
    <table border = "1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>Tel</th>
        <th>email</th>
        <th>Erwachsene</th>
        <th>Kinder</th>
        <th>Wer</th>
        <th>Teilbar</th>
        <th>Aktuelle Unterbringung</th>
        <th> Ankunft Datum</th>
        <th>Ankunft Ort</th>
        <th>Haustiere</th>
        <th>Sprachen</th>
        <th>Barrierfrei</th>
        <th>Vermittelt</th>
        <th>Priorität</th>
        <th>Sachbearbeiter:in</th>
        <th>Status</th>
        <th>Interner Kommentar</th>
    </tr>
    {% for data in dataset %}.
        {%if data.state == "new"%}    
            <tr style="background-color:white">
        {%elif data.state == "contacted" %}
            <tr style="background-color:yellow">
        {%elif data.state == "housing_contact" %}
            <tr style="background-color:lightblue">
        {%elif data.state == "stale" %}
            <tr style="background-color:grey">
        {%elif data.state == "arrived" %}
            <tr style="background-color:green">
        {%endif%}



           <td> {{data.id}}</td>
           <td> {{ data.given_name}}, {{data.last_name}}</td>
           <td> {{data.phone}}</td>
           <td> {{data.mail}}</td>
           <td> {{data.adults}}</td>
           <td> {{data.children}}</td>
           <td> {{data.who}}</td>
           <td> {{data.split |yesno:'Ja,Nein'}}</td>
           <td>  {{data.get_current_housing_display}}</td>
           <td> {{data.arrival_date}}</td>
           <td> {{data.arrival_location}}</td>
           <td> {{data.pet_number}} {{data.pets}}</td>
           <td> {{data.languages}}</td>
           <td> {{data.accessability_needs |yesno:'Ja,Nein'}}</td>
           <td>  {{data.placed_at}}</td>
           <td> {{data.priority}}</td>
           <td> {{data.case_handler}}</td>
           <td> {{data.get_state_display}}</td>
           <td> {{data.private_comment}}</td>
           <td> <a href="/requests/edit/{{data.id}}">edit </a></td>
           </tr>
        {% endfor %}
    </table>

<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a href=" {% url 'index'%}"> Startseite</a></p>
</div>
