{# Load the tag library #}
{% load bootstrap5 %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>

<title>Statistiken - SERD</title>
<link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
</head>

<body>
    <table>
            <tr>
                <td>Vermittelte Personen: </td><td>{{ persons_placed }}</td>
            </tr>
            <tr>
                <td>Vermittelte Gesuche: </td><td>{{ requests_placed }}</td>
            </tr>
            <tr> <td>Quasi-Vermittelt: Personen</td><td>{{persons_quasi }}</td></tr>
            <tr> <td>Quasi-Vermittelt: Gesuche</td><td>{{requests_quasi }}</td></tr>
            <tr><td>Personen nicht mehr aktuell</td><td>{{ persons_stale }}</td></tr>
            <tr><td>Gesuche nicht mehr aktuell</td><td>{{ requests_stale }}</td></tr>
            <tr><td>Personen Gesamt</td><td>{{ persons_all }}</td></tr>
            <tr><td>Gesuche Gesamt</td><td>{{ requests_all }}</td></tr>
            <tr><td>Angebote der Stadt</td><td>{{offers_city}}</td></tr>
            <tr><td>Davon Quasi-Vermittelt</td><td>{{city_quasi_placed}}</td></tr>
    </table>
</div>

<div class="d-flex flex-row">
    <div class="m-3">
        {% url 'logout' as logout_url%}
        {% bootstrap_button "Log out" button_type="link" href=logout_url button_class="btn-danger" %}
    </div>
    <div class="m-3">
        {% url 'index' as index_url%}
        {% bootstrap_button "Startseite" button_type="link" href=index_url button_class="btn-secondary" %}
    </div>
</div>
</body>
</html>